{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <li><a href="{% url "login" %}">login</a></li>
            <li><a href="{% url "signup" %}">signup</a></li>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>
    </main>
{% endblock content %}
