{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Signup</button>
            </form>
            <p>
                Already have an account? <a href="{% url 'login' %}">Login</a>
            </p>
        </div>
    </main>
{% endblock content %}
