{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <li><a href="{% url 'tasks:show_my_tasks' %}">My Tasks</a></li>
            <li><a href="{% url "projects:list_projects" %}">My Projects</a></li>
            <li><a href="{% url "logout" %}">Logout</a></li>
            {% if projects %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>
                                    <a href="{% url "projects:show_project" project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.description }}</td>
                                <td>{{ project.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects.</p>
            {% endif %}
        </div>
    </main>
{% endblock %}
